@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap');

@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #31A464;
  --color-secondary: #4C9AAD;
  --color-accent: #C77F1F;
  --color-background: #F5F5F4;
  --color-dark: #001D0D;

  /* Typography */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}